html[data-theme='dark'] {
  --bg: #18181d;
  --bgalt: #25252e;
}

html[data-theme='dark'] body {
  background-color: var(--bg);
}

[data-theme='dark'] {
  /* WEBCOMIC WRAPPER PAGE NAVIGATION */
  /* UI / UX Page */
}

[data-theme='dark'] section.collective {
  background-color: var(--bg);
}

[data-theme='dark'] section.about {
  background-color: #25252e;
}

[data-theme='dark'] a {
  color: #000;
}

[data-theme='dark'] a:hover {
  color: #4e4e5f;
}

[data-theme='dark'] a.abtn {
  color: #fff !important;
}

[data-theme='dark'] a.abtn:hover {
  color: #222 !important;
}

[data-theme='dark'] #red {
  color: #fff;
}

[data-theme='dark'] #red:hover {
  color: #bbb !important;
}

[data-theme='dark'] #header {
  color: #fff;
}

[data-theme='dark'] #header:hover {
  color: #ff5050 !important;
}

[data-theme='dark'] h1 {
  color: #ff5050;
}

[data-theme='dark'] h2 {
  color: #ff5050;
}

[data-theme='dark'] h2.GD {
  color: #eee;
}

[data-theme='dark'] h2.is-white {
  color: #eee;
}

[data-theme='dark'] .dark {
  color: #eee !important;
}

[data-theme='dark'] .violet {
  color: #ff5050 !important;
}

[data-theme='dark'] a.violet {
  color: #e69a83 !important;
}

[data-theme='dark'] a.violet:hover {
  color: #fff !important;
}

[data-theme='dark'] .alternate-bg {
  background-color: var(--bgalt);
}

[data-theme='dark'] #news:before,
[data-theme='dark'] #news:after,
[data-theme='dark'] #news > :first-child:before,
[data-theme='dark'] #news > :first-child:after {
  border-color: #ff5050;
}

[data-theme='dark'] .bg-square {
  background-color: #333;
}

[data-theme='dark'] .bg-square-CV {
  background-color: #373742;
}

[data-theme='dark'] .PP-about {
  border-color: #e69a83;
}

[data-theme='dark'] label:after {
  background: var(--bg);
}

[data-theme='dark'] .webcomic-wrapper .pager a {
  background-color: #ffaf97;
}

[data-theme='dark'] .webcomic-wrapper .pager a.disabled, [data-theme='dark'] .webcomic-wrapper .pager a.disabled span {
  color: #777 !important;
  background-color: var(--bgalt) !important;
}

[data-theme='dark'] .webcomic-wrapper .pager a.disabled:hover {
  color: #777 !important;
}

[data-theme='dark'] .form-control {
  background-color: var(--bgalt);
  border-color: #ffaf97;
  color: #eee;
}

[data-theme='dark'] .form-control::-moz-placeholder {
  color: #bbb;
}

[data-theme='dark'] .singularity {
  color: #eee;
}

[data-theme='dark'] .ui-ux-container {
  background: #25252e;
  border-color: #434352;
}

[data-theme='dark'] .ui-ux-container .ui-ux-h {
  color: #ff5050;
}

[data-theme='dark'] .ui-ux-container .ui-ux-p {
  color: #ddd;
}

[data-theme='dark'] .ui-ux-container .ui-ux-p-j {
  color: #ffaf97;
}

[data-theme='dark'] .ui-ux-container-titlemenu {
  background: #25252e;
  border-color: #434352;
}

[data-theme='dark'] .ui-ux-container-titlemenu .ui-ux-h {
  color: #ff5050;
}

[data-theme='dark'] .ui-ux-container-titlemenu .ui-ux-p {
  color: #ddd;
}

[data-theme='dark'] .ui-ux-container-titlemenu .ui-ux-p-j {
  color: #ffaf97;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 42px;
  height: 14px;
  background: #ffaf97;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-top: 20px;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  width: 20px;
  height: 8px;
  background: #fff;
  float: right;
  border-radius: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

input:checked + label {
  background: #ffaf97;
}

input:checked + label:after {
  left: calc(100% - 4px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 20px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 700ms !important;
  transition: all 700ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=toggle.css.map */